[submodule "lib/MIPP"]
	path = lib/MIPP
	url = https://github.com/aff3ct/MIPP
[submodule "conf"]
	path = conf
	url = https://github.com/aff3ct/configuration_files
[submodule "refs"]
	path = refs
	url = https://github.com/aff3ct/error_rate_references
[submodule "lib/date"]
	path = lib/date
	url = https://github.com/HowardHinnant/date.git
[submodule "lib/cli"]
	path = lib/cli
	url = https://github.com/aff3ct/cli
[submodule "lib/streampu"]
	path = lib/streampu
	url = https://github.com/aff3ct/streampu
